{% extends "base.html"%}

{% block contenido %}

<!-- seccion de campos para email y contraseña :: poder VER la contraseña y validar "seguridad" de contraseña -->

<form action="" method="POST" enctype="multipart/form-data">
<div class="containerPrimero">
    <form action="/nuevoAccesorio" method="POST">
      <div>
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          placeholder="accesorio"
          required=""
        />
      </div>
      <div>
        <label for="precio">Precio</label>
        <input
          type="text"
          id="precio"
          name="precio"
          placeholder=" USD$; ejemplo  : 100000"
          required=""
        />
      </div>
      <div>
        <label for="referencia">Referencia</label>
        <input type="text" id="referencia" name="referencia" required="" />
      </div>
      <div>
        <label for="cantidad">cantidad en bodega</label>
        <input type="text" id="cantidad" name="cantidad" required="" />
      </div>
      
      <div>
                
          <input type="file" name="archivo" id="archivo">
        
      </div>
      <span>
        <input type="submit" value="Crear " />
      </span>
   
      <br />
    
  </div>
  <div id="message" style="display: none">
    <h3>La contraseña debe contener:</h3>
    <p id="letter" class="valid">Una <b>Una letra minuscula </b> letter</p>
    <p id="capital" class="invalid">Una <b> letra mayuscula</b> letter</p>
    <p id="number" class="invalid">Un <b>número</b></p>
    <p id="length" class="invalid">Minimo <b> 8 caracteres</b></p>
  </div>
  </form>


{% endblock %}
