
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<
    <!-- seccion de campos para email y contraseña :: poder VER la contraseña y validar "seguridad" de contraseña -->

    {% extends "base.html" %}

    {% block contenido %}
    <div class="containerPrimero">
      <form action="/creandoUsuario/" method="post">
        <div>
          <label for="nombres">Nombres</label>
          <input type="text" id="nombres" name="nombres" required="" />
        </div>
        <div>
          <label for="apellidos">Apellidos</label>
          <input type="text" id="apellidos" name="apellidos" required="" />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
            required="required"
          />
        </div>
        <div>
          <label for="nombreDeUsuario">nombre de usuario</label>
          <input
            type="text"
            id="nombreDeUsuario"
            name="nombreDeUsuario"
            required=""
          />
        </div>

        <span>
          <input type="submit" value="Crear y Enviar correo" formmethod="post" action="/creandoUsuario/" />
        </span>

        <br />
      </form>
    </div>
    {% endblock %}
    
