{% extends "base.html"%}

{% block contenido %}
 <div class="contend gallery">
      <div class="producto" style="margin-top: -101px;">
        <div class="imagen"> <img src="https://jumbocolombiafood.vteximg.com.br/arquivos/ids/3472041-1000-1000/7500435147347.jpg?v=637115019774470000"

            class="img-galeria"> </div>
        <div class="especificaciones">
          <p> <span class="nombre-producto"> Jabon Ariel </span> <br>
            <span class="precio-producto"> $10.000</span> <br>
            <span class="cantidad-producto"> 100 </span> unidades<br>
          </p>
        </div>
      </div>
      <div class="producto">
        <div class="imagen"> <img src="https://jumbocolombiafood.vteximg.com.br/arquivos/ids/3472041-1000-1000/7500435147347.jpg?v=637115019774470000"

            class="img-galeria"> </div>
        <div class="especificaciones">
          <p> <span class="nombre-producto"> Jabon Ariel </span> <br>
            <span class="precio-producto"> $10.000</span> <br>
            <span class="cantidad-producto"> 100 </span> unidades<br>
          </p>
        </div>
      </div>
      <div class="producto">
        <div class="imagen"> <img src="https://jumbocolombiafood.vteximg.com.br/arquivos/ids/3472041-1000-1000/7500435147347.jpg?v=637115019774470000"

            class="img-galeria"> </div>
        <div class="especificaciones">
          <p> <span class="nombre-producto"> Jabon Ariel </span> <br>
            <span class="precio-producto"> $10.000</span> <br>
            <span class="cantidad-producto"> 100 </span> unidades<br>
          </p>
        </div>
      </div>
      <div class="producto">
        <div class="imagen"> <img src="https://jumbocolombiafood.vteximg.com.br/arquivos/ids/3472041-1000-1000/7500435147347.jpg?v=637115019774470000"

            class="img-galeria"> </div>
        <div class="especificaciones">
          <p> <span class="nombre-producto"> Jabon Ariel </span> <br>
            <span class="precio-producto"> $10.000</span> <br>
            <span class="cantidad-producto"> 100 </span> unidades<br>
          </p>
        </div>
      </div>
      <div class="producto">
        <div class="imagen"> <img src="https://jumbocolombiafood.vteximg.com.br/arquivos/ids/3472041-1000-1000/7500435147347.jpg?v=637115019774470000"

            class="img-galeria"> </div>
        <div class="especificaciones">
          <p> <span class="nombre-producto"> Jabon Ariel </span> <br>
            <span class="precio-producto"> $10.000</span> <br>
            <span class="cantidad-producto"> 100 </span> unidades<br>
          </p>
        </div>
      </div>
    </div>



{% endblock %}