{% extends "base.html" %}
{%block contenido %}
	<div class="login__container">
		<div class="form__container">
		  <form action="/login" method="POST" class="login__form">
			<label for="usuario">Usuario </label> <br />
			<input
			  type="text"
			  value=""
			  id="usuario"
			  name="usuario"
			  placeholder="Ingrese su usuario"
			  required
			/><br />
  
			<label for="thePassword">Contraseña </label><br />
			<input
			  type="password"
			  value=""
			  id="thePassword"
			  name="thePassword"
			  placeholder="Ingrese su contraseña"
			  required
			/>
			<!-- elemento que alterna la vista de la contraseña -->
			<br />
			<div>
			  <label class="switch">
				<input type="checkbox" onclick="alternarVista()" />
				<span class="slider round"></span>
				<script src= "{{url_for('static', filename='js/alternarVistaPwd.js') }}" ></script>
			  </label>
			  Mostrar Contraseña
			</div>
			<div>
			  <span>
				<a href="/recuperarContrasena">¿ Olvidó su contraseña ?</a>
				<input type="submit" value="Ingresar" />
			  </span>
			</div>
		  </form>
		</div>
  
		<img src=" {{url_for('static', filename='images/logo.png') }}" class="logo" />
	  </div>


<!-- 
	<form action='' method='POST'>
		<p> 
		{{form.usuario.label}}     <br/>
		{{form.usuario(size=30) }} </br>
		
		</p>
		{{form.clave.label}}     <br/>
		{{form.clave(size=30) }} </br>

		<p>
		{{form.enviar()}}  <br /> 

		</p>

	</form>
-->
{% endblock %}
